<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--
    使用 v-model (双向数据绑定) 自动收集数据
        text/textarea
        checkbox
        radio
        select
    -->
    <div id="app">
        <form action="/xxx" @submit.prevent="handleSubmit">
            <label for="">用户名：</label>
            <input type="text" v-model="username" /><br/>
            <label for="">密码：</label>
            <input type="password" v-model="password" /><br/>

            <p>性别：
                <label for="">女 <input type="radio" value="女" v-model="sex" /></label>
                &nbsp;&nbsp;
                <label for="">男 <input type="radio" value="男" v-model="sex" /></label>
            </p>

            <p>爱好：
                <label for="">篮球 <input type="checkbox" value="basket" v-model="likes" /></label>
                &nbsp;&nbsp;
                <label for="">排球 <input type="checkbox" value="pai" v-model="likes" /></label>
                &nbsp;&nbsp;
                <label for="">足球 <input type="checkbox" value="foot" v-model="likes" /></label>
                &nbsp;&nbsp;
                <label for="">乒乓球 <input type="checkbox" value="pingpang" v-model="likes" /></label>
            </p>

            <p>
                城市:
                <select v-model="cityid">
                    <option value="">未选择</option>
                    <option v-for="(item, index) in optiones" :key="index" :value="item.id">{{item.html}}</option>
                </select>
            </p>
            <p>
                简介:
                <textarea v-model="info" cols="30" rows="10" @focus="textareaFocus" @blur="textareaBlur"></textarea>
            </p>
            <button type="submit">提交</button>
        </form>
    </div>
    <script type="text/javascript" src="../static/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                username:'Jeff',
                password:'',
                sex:'男',   // 设置默认值
                likes: ['basket','foot'], // 设置默认值
                optiones:[
                    {id:1, html:"北京"},
                    {id:2, html:"上海"},
                    {id:3, html:"广州"}
                ],
                cityid:"2",   // 设置默认
                info: '请输入简介'
            },
            methods:{
                handleSubmit: function (){
                    const {username, password, sex, likes, cityid, info} = this;
                    console.log(username, password, sex, likes, cityid, info);
                    console.log("提交 ajax 请求");
                },
                textareaFocus:function(){
                    if(this.info == '请输入简介'){
                        this.info = ''
                    }
                },
                textareaBlur:function(){
                    if(this.info == ''){
                        this.info = '请输入简介'
                    }
                }
            }
        });
    </script>
</body>
</html>