<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hello world</title>
</head>
<body>
    <!--
    1. 引入 vue.js 
    2. 创建 vue 对象
        el: 指定根 element （选择器）
        data: 初始化数据（页面可以访问）
    3. 双向数据绑定： v-model
    4. 显示数据：{{xxx}}
    5. 理解 vue 的 mvvm 实现
    -->

    <!-- 模板 -->
    <div id="app">
        <input type="text" v-model="username" /><br /><!-- 指令 -->
        <input type="text" v-model="username" /><!-- 指令 -->
        <div>hello {{username}}</div><!-- 大括号表达式 -->
    </div>
    <script src="../static/vue.js"></script>
    <script>
        const vm = new Vue({
            // 配置选项（option）
            el:"#app",  // element: 指定用 vue 来管理页面中的哪个标签区域
            data:{
                username:"Jeff"
            }
        });
    </script>
</body>
</html>